POSTGRES_PASSWORD=
DATABASE_URL=postgresql://oh:PASSWORD@db:5432/oh2021?schema=public
NEXTAUTH_URL=https://2026.oh.gamca.sk
NEXT_PUBLIC_API_URL=https://2026.oh.gamca.sk/api
JWT_SECRET=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
API_KEY=
